<div class="container">
  <div ngClass="row justify-content-md-center">
    <div ngClass="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <h2>Login</h2>
    </div>
  </div>
  <div ngClass="row justify-content-md-center">
    <div ngClass="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <!-- Start form -->
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <!-- End form -->
    </div>
  </div>
</div>
