<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">CGM Challenge</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/login">Login</a>
    <a class="p-2 text-dark" routerLink="/register">Register</a>
    <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
  </nav>
</div>
