<div class="container">
  <div ngClass="row justify-content-md-center">
    <div ngClass="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <h2>Register</h2>
    </div>
  </div>
  <div ngClass="row justify-content-md-center">
    <div ngClass="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <!-- Start form -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.controls.userName.hasError('required') && validate}"
                 name="name"
                 id="name"
                 placeholder="Enter your name"
                 formControlName="userName">
          <div class="invalid-feedback" *ngIf="registerForm.controls.userName.hasError('required') && validate">Name is required.
          </div>
        </div>
        <div class="form-group error">
          <label for="email">Email address</label>
          <input type="email" class="form-control"
                 [ngClass]="{'is-invalid': (registerForm.controls.email.hasError('email') || registerForm.controls.email.hasError('required')) && validate}"
                 name="email"
                 id="email"
                 placeholder="Enter email"
                 formControlName="email">
          <div class="invalid-feedback" *ngIf="registerForm.controls.email.hasError('email')">Please enter a valid email. </div>
          <div class="invalid-feedback" *ngIf="registerForm.controls.email.hasError('required')">Email is required.
          </div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <select class="form-control"
                  [ngClass]="{'is-invalid': registerForm.controls.city.hasError('required') && validate}"
                  id="city"
                  name="city"
                  formControlName="city">
            <option *ngFor="let city of cities">{{city}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="registerForm.controls.city.hasError('required')">City is required.</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.controls.password.hasError('minlength') || (registerForm.controls.password.hasError('required') && validate)}"
                 name="password"
                 id="password"
                 placeholder="Password"
                 formControlName="password">
          <div class="invalid-feedback" *ngIf="registerForm.controls.password.hasError('required')">Password is required.</div>
          <div class="invalid-feedback" *ngIf="registerForm.controls.password.hasError('minlength')">Passwords length:
            {{registerForm.controls.password.errors?.minlength.actualLength}}/{{registerForm.controls.password.errors.minlength.requiredLength}}.
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Repeat password</label>
          <input type="password" class="form-control"
                 [ngClass]="{'is-invalid' : registerForm.controls.passwordConfirm.hasError('notSame') || (registerForm.controls.passwordConfirm.hasError('required') && validate)}"
                 name="passwordConfirm"
                 id="passwordConfirm"
                 placeholder="Confirm assword"
                 formControlName="passwordConfirm">
          <div class="invalid-feedback" *ngIf="registerForm.controls.passwordConfirm.hasError('required')">Password confirm is required.</div>
          <div class="invalid-feedback" *ngIf="registerForm.controls.passwordConfirm.hasError('notSame')">The passwords does not match. </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <!-- End form -->
    </div>
  </div>
</div>
